body {
    font-family: Arial, sans-serif;
}

.loginContainer {
    width: 360px;
    margin: 80px auto;
    margin-left: 550px;
    padding: 40px 30px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.loginContainer h2 {
    color: #000000;
    background-color: #ffffff;
    margin-bottom: 24px;
    font-size: 28px;
}

.loginContainer form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.loginContainer input {
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    transition: 0.2s all ease-in-out;
}

.loginContainer input:focus {
    border-color: #EEDBD6;
    box-shadow: 0 0 6px #c2a8a1;
}

.loginContainer button[type="submit"] {
    padding: 12px 0;
    background-color: #EEDBD6;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.loginContainer button[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background-color: #c2a8a1;
}

.loginContainer p {
    background-color: #ffffff;
    margin-top: 18px;
    font-size: 14px;
    color: #000000;
}

.loginContainer p button {
    background: none;
    border: none;
    color: #c2a8a1;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s color ease-in-out;
}