body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.loginContainer {
    width: 360px;
    margin: 80px auto;
    padding: 40px 30px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    text-align: center;
}

.loginContainer h2 {
    color: #6d0f0f;
    background-color: #f9f9f9;
    margin-bottom: 24px;
    font-size: 28px;
}

.loginContainer form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.loginContainer input {
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    transition: 0.2s all ease-in-out;
    background-color: #f4f1f2;
    color: #000000;
}

.loginContainer input::placeholder {
    color: #a79797;
}

.loginContainer input:-webkit-autofill,
.loginContainer input:-webkit-autofill:hover,
.loginContainer input:-webkit-autofill:focus {
    -webkit-text-fill-color: #000000;
    -webkit-box-shadow: 0 0 0px 1000px #f4f1f2 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.loginContainer button[type="submit"] {
    padding: 12px 0;
    background-color: #6d0f0f;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.loginContainer button[type="submit"]:hover {
    background-color: #a05151;
    box-shadow: 0 2px 8px rgba(109, 15, 15, 0.2);
}

.loginContainer p {
    background-color: #f9f9f9;
    margin-top: 18px;
    font-size: 14px;
    color: #000000;
}

.loginContainer p button {
    background: none;
    border: none;
    color: #a05151;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s color ease-in-out;
}

.error {
    color: red;
    font-size: 14px;
}