.todos-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    transition: all 0.4s ease;
}

.disabled-view {
    pointer-events: none;
    opacity: 0.4;
    filter: blur(3px);
    user-select: none;
}

.todos-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 15px;
    align-items: center;
}

.search-bar {
    display: flex;
    gap: 10px;
    background: #f4f1f2;
    padding: 8px 15px;
    border-radius: 15px;
    border: 1.5px solid #e0dada;
    align-items: center;
    width: fit-content;
}

.search-bar select {
    border: 1px solid #dcd0d1;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 8px;
    color: #6d0f0f;
    outline: none;
    cursor: pointer;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dcd0d1;
    border-radius: 8px;
    padding-right: 8px;
    transition: border-color 0.3s ease;
}

.search-input-wrapper:focus-within {
    border-color: #a05151;
}

.search-input-wrapper input {
    border: none;
    background: transparent;
    padding: 8px 12px;
    outline: none;
    width: 180px;
    color: #000000;
    text-align: left;
}

.clear-btn {
    background: none;
    border: none;
    color: #a79797;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.clear-btn:hover {
    color: #6d0f0f;
}

.search-btn,
.add-todo-btn {
    background-color: #6d0f0f;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-btn:hover,
.add-todo-btn:hover {
    background-color: #a05151;
    box-shadow: 0 4px 8px rgba(109, 15, 15, 0.2);
}

.no-results {
    text-align: center;
    color: #a79797;
    margin-top: 20px;
}