/* רכיב סרגל סינון */
.Filter-bar-container {
    display: flex;
    gap: 10px;
    background: #f4f1f2;
    padding: 8px 15px;
    border-radius: 15px;
    border: 1.5px solid #e0dada;
    align-items: center;
    width: fit-content;
}

.Filter-bar-container select {
    border: 1px solid #dcd0d1;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 8px;
    color: #6d0f0f;
    outline: none;
    cursor: pointer;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dcd0d1;
    border-radius: 8px;
    padding-right: 8px;
    transition: border-color 0.3s ease;
}

.search-input-wrapper:focus-within {
    border-color: #a05151;
}

.search-input-wrapper input {
    height: 20px;
    border: none;
    background: transparent;
    padding: 8px 12px;
    outline: none;
    width: 180px;
    color: #000000;
    text-align: left;
}

.clear-btn {
    background: none;
    border: none;
    color: #a79797;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.clear-btn:hover {
    color: #6d0f0f;
}

.switch-btn {
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.switch-btn:hover {
    background-color: #a05151;
    box-shadow: 0 4px 8px rgba(109, 15, 15, 0.2);
}

.switch-btn {
    height: 38px;
    border: 1px solid #dcd0d1;
    background-color: white;
}


/* כפתור הוספה */
.add-btn {
    background-color: #6d0f0f;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-btn:hover {
    background-color: #a05151;
    box-shadow: 0 4px 8px rgba(109, 15, 15, 0.2);
}


/* רכיב שמירה / ביטול */
.save-btn,
.cancel-btn {
    min-width: 100px;
    border-radius: 12px;
    border: none;
    margin-left: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-btn {
    color: white;
}

.save-btn:hover {
    background-color: #a05151;
    box-shadow: 0 4px 8px rgba(109, 15, 15, 0.2);
}

.cancel-btn {
    background-color: #ecf0f1;
    color: #7f8c8d;
}

.cancel-btn:hover {
     background-color: #f4f1f2;
    box-shadow: 0 4px 8px rgba(109, 15, 15, 0.2);
}